header{
    height: 0.49rem;
    background: $base-color;
    font-size: 0.18rem;
    color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 0.1rem;
    div{
        text-align: center;
    }
    a{
        color: #fff;
    }
    .right,.left{
        width: 0.49rem;
    }
    .right{
        text-align: right;
    }
    .left{
        text-align: left;
        i{
            font-size: 0.36rem;
        }
    }
    
    .title{
        flex: 1;
    }
}

.nav-bar{
    position: static;
    height: 0.46rem;
    display: flex;
    align-content: center;
    align-items: center;
    border-bottom: solid 1px #ddd;
    .nav{
        width: 50%;
        text-align: center;
        span{
            font-size: 0.16rem;
            padding: 0.1rem 0.3rem;
            color: #555;
        }
        .curN{
            border-bottom: solid 0.03rem $base-color;
            color:$base-color
        }
    }
}
.fixed-bar{
    position: fixed;
    z-index: 666;
    left: 0;
    top: 0;
}