.list-content{
    .intro{
        .sign{
            display: inline-block;
            color: #fff;
            width: 0.6rem;
            font-size: 0.12rem;
            text-align: center;
        }
    }

}
